* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #000000;
}

.weather {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 220px;
    margin: 10px;
    text-align: center;
}

.town {
    margin-bottom: 16px;
    font-size: 1.4rem;
}

.city {
    display: flex;
    align-items: flex-start;
    align-content: center;
}

.temperature {
    font-size: 3rem;
}

.weather-description,
.feels-like,
.wind,
.pressure,
.humidity {
    font-size: 0.9rem;
    text-align: center;
}

.weather-icon {
    font-size: 10rem;
}

.time {
    font-size: 10rem;
}

.currency-wrapper {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.quote {
    font: 1.2rem Georgia, serif;
    margin: 0;
    background: rgba(46, 45, 45, 0.637);
    padding: 1em;
    border-radius: 1em;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}

.quote figcaption {
    text-align: right;
}

.dateNow {
    font-size: 3rem;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .time {
      font-size: 6rem;
    }
  }